@import url("/font/stylesheet.css");

p{
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Intro',sans-serif;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;  
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;

}

button:active, button:focus{
    outline: none;
}

.canvas-container{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    touch-action: manipulation;
    overflow: hidden;
    height: 1000px;
    width: 500px;
}
.background{
    background: linear-gradient(165.07deg, #BA2E2E 0%, #700D0D 100.78%); ;
}
.actionBackground{
    opacity: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(165.07deg, #130505 0%, #791212 100.78%); ;
    background-size: contain;
    position: relative;
    overflow: hidden;
}
.nearlyStars, .distantStars{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.nearlyStars > div{
    width: 100%;
    height: 100%;
    background-image: url('Images/StarsLarge.png');
}
.distantStars > div{
    width: 100%;
    height: 100%;
    background-image: url('Images/StarsSmall.png');
}
.nearlyStars > div:nth-child(2),.distantStars > div:nth-child(2){
    transform: scale(-1,1);
}
.nearlyStarsMoving{
    animation: move 15s infinite linear;
}
.distantStarsMoving{
    animation: move 55s infinite linear;
}

@keyframes move {
    0%{
        top:-200%
    }
    100%{
        top: 0%
    }
}

.canvas-container > *{
    position: absolute;
    left: 0px;
    top: 0px;
    transform-origin: left top;
    height: 1000px;
    width: 500px;
}

.interface > div{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.startScreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.startScreen[style="top: -200px; opacity: 0;"]{
    visibility: hidden;
}

.logo{
    width: 180px;
    margin-bottom: 100px;
}

.startScreen__caption{
    text-align: center;
    color: white;
}

.startScreen__caption-first{
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 20px;
}

.startScreen__caption-second{
    font-weight: 800;
    text-transform: uppercase;
    line-height: 90px;
    font-size: 90px;
    margin-bottom: 20px;
}

.startScreen__500{
    margin-bottom: 100px;
}

.startScreen__button{
    touch-action: manipulation;
    height: 80px;
    width: 300px;
    border: none;
    border-radius: 50px;
    color: #700D0D;
    background-color: #ffffff;
    font-family: 'Intro';
    font-size: 30px;
    font-weight: 400;
    transition: all .4s ease-in-out;
    box-shadow: 3px 3px 35px 4px rgba(0,0,0,0.5);
}

.startScreen__button:hover{
    transform: scale(1.05);
    color: white;
    background-color: #7e1717;
    box-shadow: 3px 3px 35px 14px rgb(255, 0, 0);
}

.startScreen__button:active{
    transition: all .1s ease-in-out;
    transform: scale(.97);
}

.finish-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.finish-screen[style="top: -200px; opacity: 0;"]{
    visibility: hidden;
}

.finish-screen__caption{
    text-align: center;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 50px;
}

.finish-screen__money{
    text-align: center;
    color: #E8953B;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 100px;
    margin-bottom: 10px;
    text-shadow: 0px 0px 14px rgba(255, 217, 0, 0.3);
}

.finish-screen__text{
    color: white;
    text-align: center;
    padding: 0 20px;
    font-size: 22px;
    margin-bottom: 50px;
}

#freebet{
    margin-bottom: 30px;
}

#restart{
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    color: white;
    margin-bottom: 30px;
}

.gameInterface{
    opacity: 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.gameInterface[style="opacity: 0;"]{
    visibility: hidden;
}

.statusBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    padding: 40px 30px;
}

.status-bar__score{
    color: white;
    font-size: 30px;
    font-weight: 400;
    margin-top: -10px;
}

.status-bar__score > span{
    font-size: 50px;
    font-weight: 800;
}

.status-bar__score > span > span {
    font-family: sans-serif;
}

.status-bar__progress{
    height: 7px;
    background-color: rgba(126,126, 126, 0.5);
    border-radius: 50px;
    width: 100%;
    position: relative;
}

.status-bar__actual-value{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    background-color: #E8953B;
    box-shadow: 0px 0px 14px #E8953B;
    border-radius: 50px;
    height: 100%;
    transition: all .3s ease-in-out;
}

.finishScreen[style="top: -200px; opacity: 0;"]{
    visibility: hidden;
}

.buttons{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 20px;
}

.game-button {
    height: 80px;
    width: 150px;
    border-radius: 50px;
    border: none;
    color: white;
    background-color: white;
    transition: all .2s ease-in-out;
    box-shadow: 3px 3px 35px 4px rgba(0,0,0,0.5);

}

.game-button:hover{
    transform: scale(1.05);
}

.game-button > p{
    font-family: serif;
    color: #700D0D;
    font-size: 30px;
}

.left > p{
    transform: rotate(-90deg);
}

.right > p{
    transform: rotate(90deg);
}




